.panel-chart {
    ///
    /// Aspectos genéricos
    ///
    .domain {
        stroke: #343434;
        stroke-width: 1px;
    }
    .tick line {
        stroke-width: 1;
        //stroke-opacity: 0.5;
        //stroke-dasharray: 5;
        stroke-dasharray: 1;
        //stroke: #848484;
        stroke: #dadada;
        &.zero-base {
            stroke-dasharray: 0;
            stroke-opacity: 1;
            stroke: #5a5a5a;
        }
    }     
    .tick text {
        font-family: 'Roboto';
        font-size: 10.5px;
        //font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        //fill: #4f4f4f;   
        fill: #696969;   
    }       
    .tick-text-special {
        opacity: 1 !important;
        fill: #242424;
    }       
    .overlay {
        fill: none;
        pointer-events: all;
    }   

    /// 
    /// Clases CSS para resto de elementos internos (quedarnos con tonalidades de un rojo en concreto)
    /// 
    
    /// Leyendas
    .legend, .legend-three {
        width: 100%;
        margin-top: 8px;
        display: flex;
        justify-content: center; //Antes, flex-end;
        align-items: center;
        &__item {
            font-weight: 700;
            font-size: 14px;
            color: #000;
            padding-left: 14px;
            margin-left: 16px;
            flex-shrink: 0;
            position: relative;
            &:first-child {margin-left: 0}
            .graph & {
                font-size: 12px;
                margin-left: 16px;
            }
            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 8px;
                height: 8px;
                border-radius: 50%;
            }
            &--primero:before {
                background: #4C0B0F;
            }
            &--segundo:before {
                background: #992d2d;
            }
            &--tercero:before {
                background: #ff4a4a;
            }
            &--cuarto:before {
                background: #ffc8c8;
            }
        }
    }

    /// Líneas en áreas
    .area-lines {
        fill: none;
        stroke-width: 1;
        stroke: #ff4a4a;
    }

    /// Mapas
    //Borde
    .stroke-in-maps {
        stroke: #fff;
        stroke-width: .9px;
    }
    //Relleno (con colores de Expectativas)
    .map-fill {
        &--worst {
            fill: #4C0B0F;
        }
        &--worse {
            fill: #992d2d;
        }
        &--better {
            fill:  #ff4a4a;
        }
        &--best {
            fill: #ffc8c8;
        }
    }

    // Línea
    @mixin stroke-and-fill {
        stroke-width: 1px;
        fill: none;
    }

    .stroke {
        //Cuando no hay tonalidades
        &--unique {
            @include stroke-and-fill;
            stroke: #ff4a4a;
        }
        &--specific { //Tercer gráfico de Cuentas Públicas, Sectores y Producción
            stroke-width: 4px;
            stroke: #ff4a4a;
        }

        //Cuando hay tonalidades
        &--primero { //Manufacturas
            @include stroke-and-fill;
            stroke: #4C0B0F;
        }
        &--segundo { //Servicios
            @include stroke-and-fill;
            stroke: #ff4a4a;
        }
        &--tercero { //Total
            @include stroke-and-fill;
            stroke: #ffc8c8;
        }
    }

    // Barras únicas
    .fill--below-zero {
        fill: #080606;
    }
    .fill--above-zero, .fill--unique { //También sirve para el fill-circles de Sectores
        fill: #ff4a4a;
    }

    // Barras agrupadas
    .fill {
        &--primero {
            fill: #4C0B0F;
        }
        &--segundo {
            fill: #992d2d;
        }
        &--tercero {
            fill: #ff4a4a
        }
    }

    /// 
    /// Posibles especificidades
    ///

    /// Lollipop charts
    //Línea
    .lollipop-lines {
        stroke-width: 1.25;
        stroke: #ccc;
    }
    //Círculo que representa la posición 0
    .lollipop-zero-circles {
        fill:#000;  
    }

    // Empleo - Provincias
    .provinces-name-empleo {
        font-size: 14.5px;
        font-weight: 300;
        font-family: 'Roboto';
        fill: #000;
    }

    // Ausencia de datos en 3er gráfico Producción
    .nota-aclaratoria-produccion {
        height: 22px;
        opacity: 0.6;
        font-size: 13px;
        font-style: italic;
        font-weight: lighter;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1px;
        color: #000;    
        vertical-align: baseline;
    }

    // Gráfico de correlación
    .eje-grafico-dispersion {
        height: 22px;
        opacity: 0.6;
        font-size: 15px;
        font-weight: lighter;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1px;
        color: #000;    
        vertical-align: baseline;    
        &--text-right {
            text-align: right;
        }
    }
    
    .regression-line {
        stroke-width: 1.5px;
        fill: none;
        stroke: #343434;
    }

    .dispersion-circles {
        opacity: 0.8; 
        fill: #ff4a4a;
    }
}

.panel-static-data {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-between;
}

.panel--graphs {display: none;}

//Media queries para elementos como leyendas y/o botones
@media only screen and (max-width: 767px){
    .panel--graphs {
        position: relative;
        width: 100%;
        height: 251px; //En Covid son 227px (+10px de margen) pero no cuentan con la source (14px)
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .source {
            display: initial;
        }
    }

    .panel-chart {
        //Modificamos las distancias horizontales si es un gráfico del Panel (respecto al original del Covid)
        .chart {
            position: absolute;
            top: 0;
            left: 5%;
            width: 90%;
            height: 100%;
            opacity: 0;
            visibility: hidden;
            transition: opacity .6s, visibility .6s;
            &.visible {
                opacity: 1;
                visibility: visible;
            }
        }

        .legend {
            &__item {
                font-weight: 700;
                font-size: 12px;
                padding-left: 14px;
                margin-left: 10px;
                flex-shrink: 0;
                position: relative;
                &:first-child {margin-left: 0}
            }
        }
    }    
}

@media only screen and (max-width: 425px){
    .panel-chart {
        .legend {
            flex-wrap: wrap;
            &-five-items {
                justify-content: flex-start;
            }
            &__item {
                padding-left: 12px;
                margin-left: 10px;
                margin-bottom: 10px;
            }
        }
        .legend-three {
            .legend__item {
                margin-left: 10px;
                margin-bottom: 10px;
                width: auto;
            }
        }
    }
    
}