/* Tooltip */
.tooltip-widget {   
    position: absolute;
    display: none;        
	width: auto;
	max-width: 105px;                   
    height: auto;                   
    padding: 5px 10px;               
    font: 0.6rem sans-serif;      
    background: #f7f7f7;       
    pointer-events: none;           
}
.tooltip-widget span {
    display: block;
    margin-bottom: 2px;
}