@import '../../common_projects_utilities/css/font-awesome', '../../common_projects_utilities/css/reset';
@import './components/panel-chart', './components/panel-chart-buttons', './components/tooltip';

/* FONTS */
$roboto: 'Roboto', sans-serif;

/* COLORS */
$body-color: #000;
$theme-color: #414257;
$background-color: #fff;

/* BASICS */
body {
    padding: 0 0 7px;
    font-family: $roboto;
    color: $body-color;
    background-color: $background-color;
    // (Carlos) En mi móvil me aparece un leve scroll. Intento que la altura quede siempre fija para evitar ese scroll
    //height: 363px; //Comentado por Luis para evitar, en la medida de lo posible, usar alturas fijas (como mucho al widget y gráficos)
}
img {
    max-width: 100%;
    height: auto;
}
a {text-decoration: none}
strong {font-weight: 700;}

.iframe-pixel, .ec_visit_pixel {display: none;}

/* CUSTOM */
.text-uppercase {text-transform: uppercase;}
.text-center{text-align: center;}
.relative {position: relative}
.color {color: $theme-color}

/* LAYOUT */
.container {
    width: 988px;
    height: 100%;
    margin: 0 auto;
}
.row {
    display: flex;
    &--header {padding: 8px 8px 16px}
    &--column {flex-direction: column}
    &--wrap {flex-wrap: wrap}
    &--center {justify-content: center;}
    &--between {justify-content: space-between;}
    &--around {justify-content: space-around;}
    &--end {justify-content: flex-end;}
    &--acenter {align-items: center;}
}

/* WIDGET */
.widget {
    box-shadow: 0 2px 5px 0 rgba(18, 18, 18, .16);
    height: 371px;
    box-sizing: border-box;
    padding-bottom: 8px;
    &__content {overflow: hidden;}
    &__title-container, &__title-container--covid {
        //height: 18.4px;
        margin-bottom: 16px;

        /*&.with-select {
            position: relative;

            .vaccine-selector {
                position: absolute;
                top: 0;
                right: 0;
            }
        }*/
    }
    &__title {
        font-weight: 400;
        font-size: 15px;
        padding-left: 6px;
        border-left: 2px solid;
        &-bg {
            //font-weight: 500;
            font-weight: 700; //Si finalmente vamos con 700, nos podemos cargar la 500 de la llamada en el HTML. Confirmar antes que no se usa más veces
            color: #fff;
            //padding: 0 2px;
            &--blue {color: #414257}
            &--red {color: #fd5154}
            &--vacuna-diaria {color: #9dacbe;}
            &--vacuna-media {color: #414257;}
        }       
    }
    &__vaccine-subtitle {
        font-weight: 300;
        font-size: 12px;
        //color: #adadad;
        color: #8d8d8d;
        margin-bottom: 8px;
        & .main {
            font-weight: 700;
            color: $body-color;
        }
    }
}

/* Tabs */
.tabs {
    width: 50%;
    border-bottom: 1px solid #e0e4e9;
}
.tab {
    font-weight: 300;
    font-size: 18px;
    color: #111;
    opacity: .5;
    padding: 0 8px 4px;
    &--active {
        //font-weight: 900;
        font-weight: 700; //Si finalmente vamos con 700, nos podemos cargar la 900 de la llamada en el HTML. Confirmar antes que no se usa más veces
        color: #000;
        opacity: 1;
        //border-bottom: 3px solid #000;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            transform: translateY(2px);
            width: 100%;
            height: 3px;
            background: #000;
        }
    }
    &--first {
        margin-right: 5px;
        order: 1;        
    }
    &--last {
        margin-left: 5px;
        order: 2;
    }
}

/* Menu */
.menu {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    &__link {
        font-weight: 700;
        font-size: 13px;
        color: $body-color;
        padding: 0 12px;
        transition: opacity .4s;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            left: 12px;
            bottom: -3px;
            width: 0;
            height: 1px;
            background: $body-color;
            transition: width .4s;
        }
        &--last {padding: 0 0 0 12px;}
        &:hover {
            opacity: .7;
            &::after {width: 24px;}
        }
    }
}

/* Modules */
.modules {
    transition: transform 1s;
    &--translated {transform: translateX(-100%);}
}
.module {
    flex: 0 0 100%;
    width: 100%;
    &--panel {
        .covid & {order: 2}
        .panel & {order: 1}
    }
    &--covid {
        .panel & {order: 2}
        .covid & {order: 1}
    }
    &__container {overflow: hidden;}
}

.column {
    width: 50%;
    box-sizing: border-box;
    &--first {
        align-self: center;
        padding-left: 10px;
    }
    &--last {padding: 0 10px 0 20px;}
}

/* Gráficos */
.chart {
    height: 100%;
    &__container {
        width: 100%;
        height: 232px;
        margin-bottom: 24px;
    }
}

.axis { //Sólo para apartado Covid
    font-size: 10.5px;
    letter-spacing: .2px;
    //fill: $body-color;
    fill: #696969;
    &.blue {fill: #414257;}
    &.red {fill: #fd5154;}
}

/* Nuevas visualizaciones de vacunas*/
#vacunas-provincias {
    width: 98px;
    margin-left: 8px;
    height: 24px;
    border: 1px solid;
    border-radius: 2px;
}
.vaccine__container {
    width: 100%;
    //height: 280px;
    padding-bottom: 6px;

    #vaccine-histogram {
        height: 222px;
        margin-bottom: 12px;
    }

    //Entre medias está el subtítulo

    #vaccine-barchart {
        width: 100%;
        height: 7px;
    
        background-color: #eaebec;
    
        position: relative;
    
        #vaccine-pauta {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;

            background-color: #36374c;
            width: 0%;
            transition: width 1s;
        }
    
        .line-70 {
            position: absolute;
            
            top: -20px;
            left: calc(70% - 11.5px);
            transform: translate(calc(-70%), 0px);
            width: 23px;

            font-weight: 300;
            font-size: 12px;
            color: #272727;

            &::after {
                content: '';
                position: absolute;
                left: 11.5px;
                top: 15px;
                width: .5px;
                height: 16px;
                background: $body-color;
            }
        }
    }

}

/* Fuente y fecha */
.source {
    font-weight: 700;
    font-size: 14px;
    margin-right: 16px;
    &--panel {
        //color: #4f4f4f;
        margin-right: 0;
    }
}

.date {
    font-weight: 300;
    font-size: 14px;
    //margin-right: 14px;
}

.visible-mobile {display: none;}

@media screen and (max-width: 988px) {
    .container {width: 98.5%;}
    .widget {
        &__title {font-size: 14px;}
    }
}

@media screen and (max-width: 950px) {
    .widget {
        &__title {font-size: 13px;}
    }
}

@media screen and (max-width: 910px) {
    .widget {
        &__title {font-size: 12px;}
    }
    .source {
        margin-right: 8px;
        &--panel {margin-right: 0;}
    }
}

@media screen and (max-width: 870px) {
    .source, .date {font-size: 13px;}
    .source {
        &--panel {display: block;}
    }
}

@media screen and (max-width: 767px) {
    .block-mobile {display: block;}
    .container {width: 97.5%;}
    .row {
        &--header {padding: 8px 8px 10px;}
        &--column-mobile {flex-direction: column}
        &--center-mobile {justify-content: center}
        &--between-mobile {justify-content: space-between}
        &--around-mobile {justify-content: space-around}
        &--start-mobile {justify-content: flex-start;}
        &--acenter-mobile {align-items: center}
        &--astart-mobile {align-items: flex-start}
    }
    .widget {
        //height: 100%;
        &__title-container, &__title-container--covid {
            //margin: 5px 0 10px;
            margin-bottom: 8px;
            &.with-select {
                //margin-bottom: 50px;
                margin-bottom: 24px;
                position: relative;
                .vaccine-selector {
                    position: absolute;
                    right: 0;
                    top: 36px;
                }
            }
        }
        //&__title-container--covid {height: 19px;}
        &__title {
            font-size: 15px;
            line-height: 1.33;
            padding-left: 0;
            border-left: 0;
            height: 40px;
        }
    }
    .tabs {
        position: relative;
        z-index: 10;
        //margin: 10px 8px;
        width: 100%;
    }
    .columns {transition: transform .6s;}
    .column {
        width: 100%;
        flex: 0 0 100%;
        padding: 0 8px;
        &--first {align-self: auto;}
    }
    .mobile__arrow {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        &--disabled {
            opacity: .2;
            pointer-events: none;
        }
        &--left {left: 5px;}
        &--right {right: 5px;}
    }
    #vacunas-provincias {
        width: 130px;
        margin-left: 0;
        //margin-right: 8px;
        margin-right: 15px;
    }
    .vaccine__container {
        height: auto;
        padding: 0 8px 6px;
        #vaccine-histogram {
            height: 204px;
            //margin-bottom: 8px;
        }
        /*#vaccine-barchart {
            .line-70 {
                left: 70%;
                transform: none;
                width: auto;
                &::after {left: 0;}
            }
        }*/
    }
    
    .chart {
        &__container {
            //height: 201px;
            //margin-bottom: 6px;
            margin-bottom: 16px;
        }
    }
    .panel {
        //&__chart {padding: 0 10px;}
    }
    .graph--chart {
        //height: 185px;
        height: 236px;
        margin-bottom: 10px;
    }
    .visible-mobile {
        display: block;
        &--flex {display: flex;}
        &--inline {display: inline;}
    }
    .hidden-mobile {display: none;}
    .strong-mobile {font-weight: 700;}
}

@media screen and (max-width: 350px) {
    .source, .date {font-size: 12px;}
}